<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>CubeflowAmber</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowAmber</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowAmber</string>
			</dict>
			<key>CubeflowBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowBlack</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowBlack</string>
			</dict>
			<key>CubeflowBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowBlue</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowBlue</string>
			</dict>
			<key>CubeflowCyan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowCyan</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowCyan</string>
			</dict>
			<key>CubeflowDarkGray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowDarkGray</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowDarkGray</string>
			</dict>
			<key>CubeflowGold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowGold</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowGold</string>
			</dict>
			<key>CubeflowGray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowGray</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowGray</string>
			</dict>
			<key>CubeflowGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowGreen</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowGreen</string>
			</dict>
			<key>CubeflowIndigo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowIndigo</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowIndigo</string>
			</dict>
			<key>CubeflowLightGray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowLightGray</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowLightGray</string>
			</dict>
			<key>CubeflowPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowPurple</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowPurple</string>
			</dict>
			<key>CubeflowTeal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowTeal</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowTeal</string>
			</dict>
			<key>CubeflowTurquoise</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowTurquoise</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowTurquoise</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>CubeflowRed</string>
			</array>
			<key>CFBundleIconName</key>
			<string>CubeflowRed</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>CubeflowAmber</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowAmber</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowAmber</string>
			</dict>
			<key>CubeflowBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowBlack</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowBlack</string>
			</dict>
			<key>CubeflowBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowBlue</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowBlue</string>
			</dict>
			<key>CubeflowCyan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowCyan</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowCyan</string>
			</dict>
			<key>CubeflowDarkGray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowDarkGray</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowDarkGray</string>
			</dict>
			<key>CubeflowGold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowGold</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowGold</string>
			</dict>
			<key>CubeflowGray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowGray</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowGray</string>
			</dict>
			<key>CubeflowGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowGreen</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowGreen</string>
			</dict>
			<key>CubeflowIndigo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowIndigo</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowIndigo</string>
			</dict>
			<key>CubeflowLightGray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowLightGray</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowLightGray</string>
			</dict>
			<key>CubeflowPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowPurple</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowPurple</string>
			</dict>
			<key>CubeflowTeal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowTeal</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowTeal</string>
			</dict>
			<key>CubeflowTurquoise</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CubeflowTurquoise</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CubeflowTurquoise</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>CubeflowRed</string>
			</array>
			<key>CFBundleIconName</key>
			<string>CubeflowRed</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>CubeFlow uses Bluetooth to connect to compatible smart timers.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_cubeflow._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>CubeFlow uses the local network to connect nearby devices for head-to-head battles.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to show your current location on the competitions map.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
